.footer {
  background-color: #333;
  color: white;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 30px;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-section h3 {
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
}

.footer-section p {
  font-size: 0.7rem;
  margin-bottom: 10px;
}

.footer-links {
  list-style: none;
  padding-left: 0;
  font-size: 0.7rem;
  text-align: center;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links li a {
  color: white;
  text-decoration: none;
}

.footer-link {
  color: #4CAF50;
  text-decoration: none;
  padding-top: 10px;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
}

.footer-bottom p {
  margin: 0;
}
